.vheight-100 {
    min-height: 100vh;
}

.navbar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.below-nav {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.link-personal {
    text-decoration: none;
    color: whitesmoke;
}

#centralNav a.active {
    border-style: solid;
    border-color: whitesmoke;
  }

  .left {
    border-right: 1px solid black; /* Add a vertical line */
  }
  
  .right {
    padding-left: 10px; /* Adjust spacing as needed */
  }